$minWidth: 320px;
$maxWidth: 1920;
$cntPaddings: 0 20px;
$maxWidthContainer: 1170;

$mainFont: "Roboto", sans-serif;

//colors
$white: #fff;
$black: #000;
$text: #333;
$accent: rgb(119, 15, 15);
